[package]
name = "starry-night"
version = "0.0.0"
license = "MPL-2.0"
authors  = ["yuma140902 <yuma140902@gmail.com>"]
description = "A toy game engine"
repository = "https://github.com/yuma140902/starry-night"
edition = "2018"
build = "src/build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
image = "0.23.14"

[build-dependencies]
gl_generator = "0.14.0"
