name: Rust

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings
  RUSTDOCFLAGS: -Dwarnings

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        cmd:
          - build --verbose
          - build --release --verbose
          - test --all-features --verbose
          - clippy --all-features
          - doc --no-deps --all-features --document-private-items
        exclude:
          - os: windows-latest
            cmd: clippy --all-features
          - os: macos-latest
            cmd: clippy --all-features
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - run: sudo apt update && sudo apt install -y libfontconfig1-dev libgl1-mesa-dev
        if: runner.os == 'Linux'
      - run: cargo ${{ matrix.cmd }}
